.card {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 12px 10px;
  border: 1px solid transparent;
  border-radius: 10px;
  box-shadow: var(--box-shadow-sm);
  transition: box-shadow 0.2s ease-in;
}
.card:active {
  box-shadow: none;
}
.card:hover {
  opacity: var(--opacity-08);
}
.color-primary {
  color: #fff;
  background-color: var(--color-primary);
}
.color-secondary {
  color: #fff;
  background-color: var(--color-secondary);
}
.size-small {
  min-height: 40px;
}
.size-medium {
  min-height: 80px;
}
.size-large {
  min-height: 120px;
}
.is-clickable {
  cursor: pointer;
}
.is-dragable {
  cursor: grab;
  -webkit-user-select: none;
  user-select: none;
}
.margin-bottom20 {
  margin-bottom: var(--margin-bottom20);
}
